[submodule "jogos/combo-memo"]
	path = jogos/combo-memo
	url = https://github.com/n2oliver/combo-memo
[submodule "jogos/linhaamarela"]
	path = jogos/linhaamarela
	url = https://github.com/n2oliver/linhaamarela
[submodule "lojavirtual"]
	path = lojavirtual
	url = https://github.com/n2oliver/lojavirtual
[submodule "jogos/quebra-palavras"]
	path = jogos/quebra-palavras
	url = https://github.com/n2oliver/quebra-palavras.git
