[submodule "jogos/combo-memo"]
	path = jogos/combo-memo
	url = https://github.com/n2oliver/combo-memo
[submodule "jogos/linhaamarela"]
	path = jogos/linhaamarela
	url = https://github.com/n2oliver/linhaamarela
[submodule "loja_virtual"]
	path = loja_virtual
	url = https://github.com/n2oliver/loja_virtual
[submodule "jogos/quebra-palavras"]
	path = jogos/quebra-palavras
	url = https://github.com/n2oliver/quebra-palavras.git
