body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #090909;
    background-image: url(img/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

h1 {
    text-align: center;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
    text-align: center;
    background-color: #FFF;
}

.product.hightlight {
    width: 720px;
}

.product h2 {
    margin-top: 0;
}

.product img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.product.hightlight img {
    width: 450px;
    height: 450px;
}

.product a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.product a:hover {
    background-color: #0056b3;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav ul li a:hover {
    text-decoration: underline;
}
.menu-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.menu {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    padding: 20px;
    text-align: center;
}
section>h2 {
    color: #FFF;
}
.menu h2 {
    color: #FFF;
    margin-bottom: 20px;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu ul li {
    margin: 10px 0;
}
.menu ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: color 0.3s;
}
.menu ul li a:hover {
    color: #0056b3;
}
.section {
    display: flex;
}
#destaques-container {
    overflow-x: scroll;
}
@media screen and (max-width: 768px) {
    .menu {
        width: 80%; /* Reduz a largura do menu em telas menores */
    }
    .section {
        display: block;
    }
    .product:not(.hightlight) img {
        width: 150px;
        height: 150px;
    }
    .product:not(.hightlight) {
        width: 200px;
    }
}