/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background: #121212;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    position: relative;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(31, 31, 31, 0.9);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 15px 30px;
    backdrop-filter: blur(10px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.navbar a {
    color: #9c006c;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #009C30;
    color: white;
}

/* Header Image */
header img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
}

.col-6 {
    flex: 50%;
    padding: 10px;
}

.bg-white {
    background-color: #1f1f1f;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.bg-white:hover {
    transform: translateY(-5px);
}

.bg-white img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 12px;
}

.bg-white h2 {
    color: #9c006c;
    margin-bottom: 15px;
}
.bg-white h1 {
    color: #9c006c;
    font-family: Montserrat;
}

.bg-white p {
    line-height: 1.8;
}

/* Footer Styles */
footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #9c006c;
}

/* Button Styles */
.btn-primary {
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-custom {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Title Styles */
/* Title Styles */
.title {
    position: absolute; /* Posicionamento absoluto para sobrepor a imagem */
    top: 50%; /* Posiciona o título verticalmente no centro */
    left: 50%; /* Posiciona o título horizontalmente no centro */
    transform: translate(-50%, -50%); /* Centraliza o título perfeitamente */
    width: 100%; /* Faz o título ocupar toda a largura do contêiner */
    color: white;
    text-align: center; /* Centraliza o texto no título */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Garante que o título fique sobre a imagem */
}

.title-image {
    width: 100%;
    height: 100%; /* Faz a imagem preencher toda a altura da região */
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorção */
    filter: brightness(0.6);
}
/* Arrow Styles */
.arrow-container {
    display: inline-block;
}

.arrow {
    width: 50px;
    height: 50px;
    fill: #fff;
    stroke-width: 2px;
    opacity: .75;
}

.arrow:not(.back-arrow) {
    stroke: #9c006c;
}

.back-arrow {
    stroke: #fff;
    transform: rotate(180deg);
}

/* Carousel Controls */
.carousel {
    height: 100vh;
}
.carousel-control-prev {
    background: #9c006c;
}

.carousel-control-next {
    background: #fff;
}
.carousel-inner {
    height: 100%;
    align-items: center;
}
.carousel-item {
    position: relative; /* Para garantir que o título e a imagem sejam posicionados corretamente */
    height: 100%; /* Garante que o item do carrossel ocupe toda a altura do contêiner */
}

.row {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me::-webkit-scrollbar {
    display: none;
}
.about-me {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container {
    background-color: #fff;
    padding: 20px;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    word-wrap: anywhere;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
.icon-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    overflow-x: scroll;
    height: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.icon-box::-webkit-scrollbar {
    display: none;
}
.icon-item {
    float: left;
    text-align: center;
    margin: 4px;
    background-color: white;
    padding:14px;
    width: 180px;
    height: 160px;
    border: solid 2px #ccc;
    transition: 5s;
}
.icon-item:hover {
    display: flex;
    align-items: center;
    height: auto;
    width: 100vw;
    transition: 5s;
    transform: translateY(-1vw);
}
.icon-item:hover span {
    padding: 14px;
}
.icon-item i {
    font-size: 48px;
    color: #009C30;
}
.icon-item span {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
.text-box {
    height: 100vh;
    overflow-y: scroll;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    .col-6 {
        flex: 100%;
    }

    .navbar {
        padding: 10px;
    }

    .arrow {
        opacity: .80;
    }

    .carousel-control-prev, .carousel-control-next {
        background: transparent;
    }
}
