body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../../img/web-design-technology-browsing-programming-concept.jpg);
    color: #333;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: fit-content !important;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(.1);
}

header, footer {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(darkslategray, black);
    color: white;
}
header h1 {
    color: white;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.grid-container {
    display: grid;
    border: 2px solid #333;
    background-color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.grid-cell {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
}

.grid-cell.selected {
    background-color: #f8c300; /* Amarelo, como em "Linha Amarela" */
    color: #fff;
}

.grid-cell.found {
    background-color: #28a745; /* Verde para palavras encontradas */
    color: #fff;
}

.sidebar {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 200px;
}

#word-list {
    list-style-type: none;
    padding: 0;
}

#word-list li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    transition: all 0.3s;
}

#word-list li.found {
    text-decoration: line-through;
    color: #888;
    font-style: italic;
}

#restart-button {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border: none;
    background-color: #dc3545;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#restart-button:hover {
    background-color: #c82333;
}

.message {
    position: fixed;
    margin: auto 0;
    background-color: #28a745;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
