.intro {
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: stretch;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: white;
    justify-content: end;
    display: flex;
}
.intro div.bg {
    height: 100%;
    background: url('/img/jogos/linha-amarela/intro-bg.jpg');
    background-size: contain !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-blend-mode: hard-light !important;
    align-self: center;
    width: 100vw;
}

.intro div.ads {
    align-self: flex-end;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .intro div.bg {
        height: 100%;
        background-size: contain !important;
        background: url('/img/jogos/linha-amarela/intro-bg-mobile.jpg');
    }
}