
.jumbotron {
    background-image: url('../img/jogos/linha-amarela/spaceinvaders-red.png');
    background-size: 50vw auto;
    background-repeat: repeat-x;
    background-position-y: center;
    background-color: black;
    color: white;
    margin-bottom: 0;
}
.footer {
    background-color: hsla(160, 60%, 6%, 0.8) !important;
    color: white;
    padding: 20px 0;
}
.recovery-link:hover {
    color: yellow !important;
    cursor: pointer;
}