.logo {
    width: 100%;
    height: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo-fixed {
    position: fixed;
}
.intro-logo img {
    background-image: radial-gradient(circle, white, transparent, transparent);
    background-size: contain;
    height: 200px;
    border-radius: 10em;
}
.intro-container {
    background-size: cover;
}
.game-logo {
    width: 4em;
    top: 32px; 
    right: 32px
}
.game-logo img {
    width: 64px;
    height: auto;
}
.intro-logo {
    width: 12em; 
    position: fixed; 
    top: 0; 
    left: 0;
}