.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.presentation {
    font-weight: 500;
    font-size: 40px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
}
.presentation-container {
    font-weight: 500;
    font-family: Big John;
    font-size: 24px;
    color: white;
    text-align: "left";
    text-shadow: "3px 3px 3px #2e2e3e";
    position: "fixed";
}